.ui-element {
    height: 600px;
    width: 100%;
    
}

.modal-base{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0%;
}

.modal-overlay{
    margin-left: 100px;
    position: absolute;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
}

.card-header > h4{
    font-size: 2em;

}

.pcoded-main-container{
    min-height: calc(100vh - 78px);
}

/* .pcoded-wrapper{
    height: calc(100vh - 78px);
    width: 100%;
}

.pcoded-content{
    height: calc(100vh - 78px);
    width: 100%;
}

.pcoded-inner-content{
    height: calc(100vh - 78px);
    width: 100%;
} */